# Database
DATABASE_URL="postgresql://usuario:senha@localhost:5432/enrica-ai"

# JWT Secret (use a strong random string in production)
JWT_SECRET="your-super-secret-jwt-key-change-this-in-production"

# OpenAI
OPENAI_API_KEY=sk-...

#Gemini
GOOGLE_API_KEY="AIzaSyBQgVWguHk0z35faEc9Qzj8vsF5fEGPa4c"


# App
NEXT_PUBLIC_APP_URL=http://localhost:3000